%li
  .title
    %h3
      = @secret.title
  - unless @secret.image.path.blank?
    - if File.exists?(@secret.image.path)
      .photo
        = image_tag(@secret.image.url(:display))
  - unless @secret.youtube.blank?
    .youtube
      <div id='video_#{@secret.id}'></div>
  .secret-content
    = @secret.content.blank? ? "" : @secret.content.html_safe
  .date
    = @secret.publish_date.blank? ? "" : @secret.publish_date.strftime("%m.%d.%y")
%script
  var player_#{@secret.id.to_s};
  player_#{@secret.id.to_s} = new YT.Player('video_#{@secret.id.to_s}', {
  height: '262',
  width: '481',
  videoId: '#{@secret.youtube}'
  });