<%= render :partial => "layouts/admin_header" %>
<h1>Listing photographs</h1>

<table class="table table-bordered">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photographs.each do |photograph| %>
  <tr>
    <td><%= link_to 'Show', photograph %></td>
    <td><%= link_to 'Edit', edit_photograph_path(photograph) %></td>
    <td><%= link_to 'Destroy', photograph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photograph', new_photograph_path %>
