<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @secret.title %>
</p>

<p>
  <b>Blurb:</b>
  <%= @secret.blurb %>
</p>

<p>
  <b>Content:</b>
  <%= @secret.content %>
</p>

<p>
  <b>Publish date:</b>
  <%= @secret.publish_date %>
</p>


<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
