<%= simple_form_for(@coverage) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :source %>
    <%= f.input :url %>
    <label class="string optional control-label" for="publish_date">Publish date</label>
    <div id="coverage-publish_date_datetimepicker" class="input-append">
      <input value="<%= @coverage.publish_date.strftime("%m/%d/%Y %I:%M:%S %p") unless @coverage.publish_date.blank? %>" class="string optional date-time-pick" id="publish_date" name="coverage[publish_date]" size="50" type="text" data-format="MM/dd/yyyy HH:mm:ss PP"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i>
      </span>
    </div>
    <!--<%= f.input :content, :as => "string", :label => "Blurb" %>-->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
